In [53]:
import sys
print(sys.executable)

c:\Users\Rushil Misra\Documents\projects\Expense Manager\.venv\Scripts\python.exe

In [54]:
import pandas as pd
df = pd.read_csv("6statement.csv")

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            547 non-null    object
 1   ADITYA DHANRAJ  556 non-null    object
 2   Branch Code     27 non-null     object
 3   2395            393 non-null    object
 4   Unnamed: 4      161 non-null    object
 5   Unnamed: 5      543 non-null    object
dtypes: object(6)
memory usage: 27.1+ KB

In [56]:
df.head(20)

,Name,ADITYA DHANRAJ,Branch Code,2395,Unnamed: 4,Unnamed: 5
0,Address,S.O VIVEK SRIVASTAVA 1.314,Branch Name,PATRAKARPURAM,NaN,NaN
1,NaN,"VIRAM KHAND 1,GOMTI NAGAR NEAR",Address,2/83 VIRAM KHAND,NaN,NaN
2,NaN,NaN,NaN,GOMTINAGAR LUCKNOW,NaN,NaN
3,NaN,LUCKNOW,NaN,LUCKNOW,NaN,NaN
4,Phone,8853834385,Phone,NaN,NaN,NaN
5,Account No.,2.39501E+13,NaN,NaN,NaN,NaN
6,Customer ID,R04671795,IFSC Code,UCBA0002395,NaN,NaN
7,Statement of Account,from 05-04-2024 to 05-04-2025,NaN,NaN,NaN,NaN
8,Date,Particulars,Chq. No.,Withdrawals,Deposits,Balance
9,05-04-2024,MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U,NaN,1,NaN,5962.21
10,05-04-2024,MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U,NaN,1000,NaN,4962.21
11,05-04-2024,MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U,NaN,1000,NaN,3962.21
12,05-04-2024,MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U,NaN,1000,NaN,2962.21
13,05-04-2024,MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U,NaN,666,NaN,2296.21
14,05-04-2024,MPAY/UPI/TRTR/409669714739/PUNB/zoro.sanji12op@/U,NaN,2100,NaN,196.21
15,05-04-2024,MPAY/UPI/TRTR/409670001882/BKID/vivsri14@oksbi/UP,NaN,NaN,500,696.21
16,05-04-2024,MPAY/UPI/TRTR/409695927732/PUNB/zoro.sanji12op@/U,NaN,430,NaN,266.21
17,05-04-2024,MPAY/UPI/TRTR/409677407577/PUNB/zoro.sanji12op@/U,NaN,100,NaN,166.21
18,06-04-2024,MPAY/UPI/TRTR/409770555654/BKID/dhanrajaditya20/U,NaN,NaN,120,286.21
19,06-04-2024,MPAY/UPI/TRTR/409764636591/PUNB/zoro.sanji12op@/U,NaN,166,NaN,120.21

In [57]:
df = df[9:]

In [58]:
df.reset_index(drop=True, inplace=True)

In [59]:
df.head()

,Name,ADITYA DHANRAJ,Branch Code,2395,Unnamed: 4,Unnamed: 5
0,05-04-2024,MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U,NaN,1,NaN,5962.21
1,05-04-2024,MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U,NaN,1000,NaN,4962.21
2,05-04-2024,MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U,NaN,1000,NaN,3962.21
3,05-04-2024,MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U,NaN,1000,NaN,2962.21
4,05-04-2024,MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U,NaN,666,NaN,2296.21

In [60]:
df.columns = ["Date","Description","cheq No", "DR", "CR","Balance"]

In [61]:
df.drop(["cheq No"], axis = 1, inplace = True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         541 non-null    object
 1   Description  548 non-null    object
 2   DR           387 non-null    object
 3   CR           160 non-null    object
 4   Balance      542 non-null    object
dtypes: object(5)
memory usage: 22.2+ KB

In [63]:
df.head()

,Date,Description,DR,CR,Balance
0,05-04-2024,MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U,1,NaN,5962.21
1,05-04-2024,MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U,1000,NaN,4962.21
2,05-04-2024,MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U,1000,NaN,3962.21
3,05-04-2024,MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U,1000,NaN,2962.21
4,05-04-2024,MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U,666,NaN,2296.21

In [64]:
df["DR"].fillna("0", inplace = True)

C:\Users\Rushil Misra\AppData\Local\Temp\ipykernel_20772\824806791.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["DR"].fillna("0", inplace = True)

In [65]:
df["CR"].fillna("0", inplace = True)

C:\Users\Rushil Misra\AppData\Local\Temp\ipykernel_20772\1544724618.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CR"].fillna("0", inplace = True)

In [66]:
df.head(30)

,Date,Description,DR,CR,Balance
0,05-04-2024,MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U,1,0,5962.21
1,05-04-2024,MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U,1000,0,4962.21
2,05-04-2024,MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U,1000,0,3962.21
3,05-04-2024,MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U,1000,0,2962.21
4,05-04-2024,MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U,666,0,2296.21
5,05-04-2024,MPAY/UPI/TRTR/409669714739/PUNB/zoro.sanji12op@/U,2100,0,196.21
6,05-04-2024,MPAY/UPI/TRTR/409670001882/BKID/vivsri14@oksbi/UP,0,500,696.21
7,05-04-2024,MPAY/UPI/TRTR/409695927732/PUNB/zoro.sanji12op@/U,430,0,266.21
8,05-04-2024,MPAY/UPI/TRTR/409677407577/PUNB/zoro.sanji12op@/U,100,0,166.21
9,06-04-2024,MPAY/UPI/TRTR/409770555654/BKID/dhanrajaditya20/U,0,120,286.21
10,06-04-2024,MPAY/UPI/TRTR/409764636591/PUNB/zoro.sanji12op@/U,166,0,120.21
11,06-04-2024,MPAY/UPI/TRTR/446316854534/HDFC/9799984089@payt/S,0,176.47,296.68
12,06-04-2024,MPAY/UPI/TRTR/446316854907/HDFC/9372468989@payt/S,0,176.47,473.15
13,06-04-2024,MPAY/UPI/TRTR/446316932728/SBIN/9352311905@payt/S,0,176.47,649.62
14,06-04-2024,MPAY/UPI/TRTR/446316958914/ICIC/9871340076@payt/S,0,176.47,826.09
15,06-04-2024,MPAY/UPI/TRTR/446316976433/SBIN/8765687603@payt/S,0,176.47,1002.56
16,06-04-2024,MPAY/UPI/TRTR/446317061208/BARB/7976313402@payt/N,0,176.75,1179.31
17,06-04-2024,MPAY/UPI/TRTR/446317076233/ICIC/6205844365181@p/S,0,176.47,1355.78
18,06-04-2024,MPAY/UPI/TRTR/446317089291/HDFC/9460425145@payt/S,0,176.47,1532.25
19,06-04-2024,MPAY/UPI/TRTR/446317092566/BARB/devrajgurjar484/S,1000,0,532.25
20,06-04-2024,MPAY/UPI/TRTR/446317103793/PUNB/9352801321@payt/S,0,176.47,708.72
21,06-04-2024,MPAY/UPI/TRTR/446318906131/ICIC/7850885993@payt/S,0,176.48,885.2
22,06-04-2024,MPAY/UPI/TRTR/446326676491/PUNB/9352801321@payt/N,0,497,1382.2
23,NaN,NaN,0,0,Page 1 of 1
24,Statement of Account,from 05-04-2024 to 05-04-2025,0,0,NaN
25,Date,Particulars,Withdrawals,Deposits,Balance
26,06-04-2024,MPAY/UPI/TRTR/409745742498/IBKL/djrockingnitin2/S,1200,0,182.2
27,06-04-2024,MPAY/UPI/TRTR/409725922413/HDFC/amanladha17@okh/U,70,0,112.2
28,06-04-2024,MPAY/UPI/TRTR/446408450075/CNRB/7879217732352@p/S,0,176.47,288.67
29,06-04-2024,MPAY/UPI/TRTR/446423582263/SBIN/ishangupta2209@/U,0,175,463.67

In [67]:
df = df[df['Date'].str.contains("-", na=False)]

In [68]:
df.head(20)

,Date,Description,DR,CR,Balance
0,05-04-2024,MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U,1,0,5962.21
1,05-04-2024,MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U,1000,0,4962.21
2,05-04-2024,MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U,1000,0,3962.21
3,05-04-2024,MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U,1000,0,2962.21
4,05-04-2024,MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U,666,0,2296.21
5,05-04-2024,MPAY/UPI/TRTR/409669714739/PUNB/zoro.sanji12op@/U,2100,0,196.21
6,05-04-2024,MPAY/UPI/TRTR/409670001882/BKID/vivsri14@oksbi/UP,0,500,696.21
7,05-04-2024,MPAY/UPI/TRTR/409695927732/PUNB/zoro.sanji12op@/U,430,0,266.21
8,05-04-2024,MPAY/UPI/TRTR/409677407577/PUNB/zoro.sanji12op@/U,100,0,166.21
9,06-04-2024,MPAY/UPI/TRTR/409770555654/BKID/dhanrajaditya20/U,0,120,286.21
10,06-04-2024,MPAY/UPI/TRTR/409764636591/PUNB/zoro.sanji12op@/U,166,0,120.21
11,06-04-2024,MPAY/UPI/TRTR/446316854534/HDFC/9799984089@payt/S,0,176.47,296.68
12,06-04-2024,MPAY/UPI/TRTR/446316854907/HDFC/9372468989@payt/S,0,176.47,473.15
13,06-04-2024,MPAY/UPI/TRTR/446316932728/SBIN/9352311905@payt/S,0,176.47,649.62
14,06-04-2024,MPAY/UPI/TRTR/446316958914/ICIC/9871340076@payt/S,0,176.47,826.09
15,06-04-2024,MPAY/UPI/TRTR/446316976433/SBIN/8765687603@payt/S,0,176.47,1002.56
16,06-04-2024,MPAY/UPI/TRTR/446317061208/BARB/7976313402@payt/N,0,176.75,1179.31
17,06-04-2024,MPAY/UPI/TRTR/446317076233/ICIC/6205844365181@p/S,0,176.47,1355.78
18,06-04-2024,MPAY/UPI/TRTR/446317089291/HDFC/9460425145@payt/S,0,176.47,1532.25
19,06-04-2024,MPAY/UPI/TRTR/446317092566/BARB/devrajgurjar484/S,1000,0,532.25

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 507 entries, 0 to 557
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         507 non-null    object
 1   Description  507 non-null    object
 2   DR           507 non-null    object
 3   CR           507 non-null    object
 4   Balance      507 non-null    object
dtypes: object(5)
memory usage: 23.8+ KB

In [70]:
df["DR"] = df["DR"].astype(float)

In [71]:
df["CR"] = df["CR"].astype(float)

In [72]:
df["Balance"] = df["Balance"].astype(float)

In [73]:
df.head(20)

,Date,Description,DR,CR,Balance
0,05-04-2024,MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U,1.0,0.00,5962.21
1,05-04-2024,MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U,1000.0,0.00,4962.21
2,05-04-2024,MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U,1000.0,0.00,3962.21
3,05-04-2024,MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U,1000.0,0.00,2962.21
4,05-04-2024,MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U,666.0,0.00,2296.21
5,05-04-2024,MPAY/UPI/TRTR/409669714739/PUNB/zoro.sanji12op@/U,2100.0,0.00,196.21
6,05-04-2024,MPAY/UPI/TRTR/409670001882/BKID/vivsri14@oksbi/UP,0.0,500.00,696.21
7,05-04-2024,MPAY/UPI/TRTR/409695927732/PUNB/zoro.sanji12op@/U,430.0,0.00,266.21
8,05-04-2024,MPAY/UPI/TRTR/409677407577/PUNB/zoro.sanji12op@/U,100.0,0.00,166.21
9,06-04-2024,MPAY/UPI/TRTR/409770555654/BKID/dhanrajaditya20/U,0.0,120.00,286.21
10,06-04-2024,MPAY/UPI/TRTR/409764636591/PUNB/zoro.sanji12op@/U,166.0,0.00,120.21
11,06-04-2024,MPAY/UPI/TRTR/446316854534/HDFC/9799984089@payt/S,0.0,176.47,296.68
12,06-04-2024,MPAY/UPI/TRTR/446316854907/HDFC/9372468989@payt/S,0.0,176.47,473.15
13,06-04-2024,MPAY/UPI/TRTR/446316932728/SBIN/9352311905@payt/S,0.0,176.47,649.62
14,06-04-2024,MPAY/UPI/TRTR/446316958914/ICIC/9871340076@payt/S,0.0,176.47,826.09
15,06-04-2024,MPAY/UPI/TRTR/446316976433/SBIN/8765687603@payt/S,0.0,176.47,1002.56
16,06-04-2024,MPAY/UPI/TRTR/446317061208/BARB/7976313402@payt/N,0.0,176.75,1179.31
17,06-04-2024,MPAY/UPI/TRTR/446317076233/ICIC/6205844365181@p/S,0.0,176.47,1355.78
18,06-04-2024,MPAY/UPI/TRTR/446317089291/HDFC/9460425145@payt/S,0.0,176.47,1532.25
19,06-04-2024,MPAY/UPI/TRTR/446317092566/BARB/devrajgurjar484/S,1000.0,0.00,532.25

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 507 entries, 0 to 557
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         507 non-null    object
 1   Description  507 non-null    object
 2   DR           507 non-null    float64
 3   CR           507 non-null    float64
 4   Balance      507 non-null    float64
dtypes: float64(3), object(2)
memory usage: 23.8+ KB

In [75]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 507 entries, 0 to 557
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         507 non-null    datetime64[ns]
 1   Description  507 non-null    object
 2   DR           507 non-null    float64
 3   CR           507 non-null    float64
 4   Balance      507 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 23.8+ KB

In [77]:
df['Description'].unique()

array(['MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/409669714739/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/409670001882/BKID/vivsri14@oksbi/UP',
       'MPAY/UPI/TRTR/409695927732/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/409677407577/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/409770555654/BKID/dhanrajaditya20/U',
       'MPAY/UPI/TRTR/409764636591/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/446316854534/HDFC/9799984089@payt/S',
       'MPAY/UPI/TRTR/446316854907/HDFC/9372468989@payt/S',
       'MPAY/UPI/TRTR/446316932728/SBIN/9352311905@payt/S',
       'MPAY/UPI/TRTR/446316958914/ICIC/9871340076@payt/S',
       'MPAY/UPI/TRTR/446316976433/SBIN/8765687603@payt/S',
       'MPAY/UPI/TRTR/446317061208/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/446317076233/ICIC/6205844365181@p/S',
       'MPAY/UPI/TRTR/446317089291/HDFC/9460425145@payt/S',
       'MPAY/UPI/TRTR/446317092566/BARB/devrajgurjar484/S',
       'MPAY/UPI/TRTR/446317103793/PUNB/9352801321@payt/S',
       'MPAY/UPI/TRTR/446318906131/ICIC/7850885993@payt/S',
       'MPAY/UPI/TRTR/446326676491/PUNB/9352801321@payt/N',
       'MPAY/UPI/TRTR/409745742498/IBKL/djrockingnitin2/S',
       'MPAY/UPI/TRTR/409725922413/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/446408450075/CNRB/7879217732352@p/S',
       'MPAY/UPI/TRTR/446423582263/SBIN/ishangupta2209@/U',
       'MPAY/UPI/TRTR/446408582911/CNRB/7879217732352@p/N',
       'MPAY/UPI/TRTR/409855258559/UCBA/meenasinha1763@/U',
       'MPAY/UPI/TRTR/409842010261/YESB/paytmqr17draihy/U',
       'MPAY/UPI/TRTR/409858479731/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/446521950548/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/446530132693/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/409978147717/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/409956274949/BKID/8542893975@ybl/Pa',
       'MPAY/UPI/TRTR/409931097960/BKID/8542893975@ybl/Pa',
       'MPAY/UPI/TRTR/409992405324/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/409994565005/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/409995174876/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/409998368302/ICIC/bharatpe.904222/P',
       'MPAY/UPI/TRTR/410020193802/BARB/kavyarajkhangar/U',
       'MPAY/UPI/TRTR/410021006404/YESB/paytmqrwoi28ons/U',
       'MPAY/UPI/TRTR/410033944851/SBIN/adityaojha1310-/U',
       'MPAY/UPI/TRTR/410036993156/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/410038365848/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/446624683414/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/410040517104/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410041299470/YESB/q854198776@ybl/UP',
       'MPAY/UPI/TRTR/410049348754/YESB/q687518131@ybl/UP',
       'MPAY/UPI/TRTR/410052805808/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410057327338/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410162298464/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/446706577117/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/410120852355/ICIC/bharatpe.904222/P',
       'MPAY/UPI/TRTR/446773856347/ICIC/samakshgupta04@/U',
       'MPAY/UPI/TRTR/410138761567/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410144079235/ICIC/samakshgupta04@/U',
       'MPAY/UPI/TRTR/410174067819/YESB/paytmqr78iydr94/U',
       'MPAY/UPI/TRTR/410188172355/INDB/8385902762@ibl/UP',
       'MPAY/UPI/TRTR/446722176204/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/410114377191/BARB/9079922589@ybl/UP',
       'MPAY/UPI/TRTR/410298989776/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/446885913535/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/446891513497/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/410286718767/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410223584441/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410236070306/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410234837156/YESB/q821432282@ybl/UP',
       'MPAY/UPI/TRTR/446813138509/YESB/q696560501@ybl/UP',
       'MPAY/UPI/TRTR/410257437392/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/410317667483/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/410300476940/UCBA/meenasinha1763@/U',
       'MPAY/UPI/TRTR/446982771404/YESB/paytmqr78iydr94/U',
       'MPAY/UPI/TRTR/446999368092/YESB/paytmqr1vr7d1wl/U',
       'MPAY/UPI/TRTR/410342883187/UBIN/yashraj120405-1/U',
       'MPAY/UPI/TRTR/446936985097/YESB/q515570328@ybl/UP',
       'MPAY/UPI/TRTR/410314973215/BKID/vivsri14@oksbi/UP',
       'MPAY/UPI/TRTR/410338187380/YESB/q711441675@ybl/UP',
       'MPAY/UPI/TRTR/410310690757/YESB/q484330578@ybl/UP',
       'MPAY/UPI/TRTR/410451712133/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/447023110725/HDFC/ritamsharma2005/U',
       'MPAY/UPI/TRTR/410494782707/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/447072820246/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/447054528134/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/410402954001/ICIC/ayushmansinghra/U',
       'MPAY/UPI/TRTR/447027042723/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/410471643785/SBIN/8765687603@axl/UP',
       'MPAY/UPI/TRTR/410586242395/YESB/paytmqrwoi28ons/U',
       'MPAY/UPI/TRTR/447152075154/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/410548060030/YESB/q484330578@ybl/UP',
       'MPAY/UPI/TRTR/410539473472/YESB/q484330578@ybl/UP',
       'MPAY/UPI/TRTR/410508249935/BKID/vivsri14@oksbi/UP',
       'MPAY/UPI/TRTR/410508582262/BKID/8542893975@ybl/UP',
       'MPAY/UPI/TRTR/447186589302/YESB/q696560501@ybl/UP',
       'MPAY/UPI/TRTR/447157788590/YESB/q774685603@ybl/UP',
       'MPAY/UPI/TRTR/447115790011/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/410564888822/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/447155392965/YESB/q515570328@ybl/UP',
       'MPAY/UPI/TRTR/410559604006/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/410699986517/UBIN/yashraj120405-1/U',
       'MPAY/UPI/TRTR/410616600762/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/410691690835/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/447249015136/YESB/q991713027@ybl/UP',
       'MPAY/UPI/TRTR/447268823646/YESB/q515570328@ybl/UP',
       'MPAY/UPI/TRTR/447222631926/YESB/paytmqr78iydr94/U',
       'MPAY/UPI/TRTR/447250936861/YESB/paytmqr78iydr94/U',
       'MPAY/UPI/TRTR/410695520076/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/410659060907/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/447283237224/YESB/q525341851@ybl/UP',
       'MPAY/UPI/TRTR/410665042167/YESB/q525341851@ybl/UP',
       'MPAY/UPI/TRTR/410699526273/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/410670341864/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/410775646960/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/447375040998/YESB/paytmqrwoi28ons/U',
       'MPAY/UPI/TRTR/410720983668/SBIN/optimaevents@sb/L',
       'MPAY/UPI/TRTR/410723079596/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/447323962835/BARB/kavyarajkhangar/U',
       'MPAY/UPI/TRTR/410723585457/SBIN/optimaevents@sb/5',
       'MPAY/UPI/TRTR/410723669984/SBIN/bharatparts@sbi/W',
       'MPAY/UPI/TRTR/410724208627/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/410718547803/BARB/kavyarajkhangar/U',
       'MPAY/UPI/TRTR/410724249689/SBIN/bhatconstructio/J',
       'MPAY/UPI/TRTR/410718845464/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/447324576205/SBIN/6398089430@payt/N',
       'MPAY/UPI/TRTR/447324625299/SBIN/optimaevents@sb/M',
       'MPAY/UPI/TRTR/447324746760/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/447324767109/SBIN/bharatparts@sbi/J',
       'MPAY/UPI/TRTR/410729084168/HDFC/7665888892@ybl/Pa',
       'MPAY/UPI/TRTR/410777771099/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/447337480210/YESB/q818717883@ybl/UP',
       'MPAY/UPI/TRTR/410771682407/YESB/q774685603@ybl/UP',
       'MPAY/UPI/TRTR/410736888792/YESB/q515570328@ybl/UP',
       'MPAY/UPI/TRTR/410800192462/YESB/paytmqr1bngq50t/U',
       'MPAY/UPI/TRTR/447455991260/YESB/paytmqr1ocdzfmh/U',
       'MPAY/UPI/TRTR/410897532589/SBIN/9044142661@ybl/Pa',
       'MPAY/UPI/TRTR/447406943895/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/447575146856/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/410976415796/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/447576945561/YESB/q653432515@ybl/UP',
       'MPAY/UPI/TRTR/410965639448/YESB/paytmqrwoi28ons/U',
       'MPAY/UPI/TRTR/410965759152/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/410945356557/YESB/q431995098@ybl/UP',
       'MPAY/UPI/TRTR/447573284192/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/410984788830/YESB/q774685603@ybl/UP',
       'MPAY/UPI/TRTR/447662106327/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/447684004364/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/411000416680/BARB/kavyarajkhangar/U',
       'MPAY/UPI/TRTR/411099836168/YESB/paytmqr7a3z1nhl/U',
       'MPAY/UPI/TRTR/411047116809/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/411053640232/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/447699640341/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/411049455994/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/447682438115/YESB/paytmqrhrbud314/U',
       'MPAY/UPI/TRTR/411116532472/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/411152227688/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/411193347556/IBKL/djrockingnitin2/U',
       'MPAY/UPI/TRTR/447720934501/YESB/paytmqr1bngq50t/U',
       'MPAY/UPI/TRTR/447796941822/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/447726288736/BKID/dhanrajaditya20/U',
       'MPAY/UPI/TRTR/411175378862/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/411222509343/BKID/vivsri14@oksbi/UP',
       'MPAY/UPI/TRTR/411223741956/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/411222903111/YESB/paytmqrhrbud314/U',
       'MPAY/UPI/TRTR/411224110374/YESB/paytmqr78iydr94/U',
       'MPAY/UPI/TRTR/411234174610/YESB/q515570328@ybl/UP',
       'MPAY/UPI/TRTR/411235219653/YESB/q821432282@ybl/UP',
       'MPAY/UPI/TRTR/411371480335/YESB/q809149785@ybl/UP',
       'MPAY/UPI/TRTR/411375492863/YESB/q818717883@ybl/UP',
       'MPAY/UPI/TRTR/411346411476/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/411466881134/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/411400831211/UCBA/meenasinha1763@/U',
       'MPAY/UPI/TRTR/411402308701/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/411408594033/YESB/q431995098@ybl/UP',
       'MPAY/UPI/TRTR/448004105247/ICIC/samakshgupta04@/U',
       'MPAY/UPI/TRTR/411411372062/YESB/paytmqrzelvz00z/U',
       'MPAY/UPI/TRTR/411411595339/YESB/q813942509@ybl/UP',
       'MPAY/UPI/TRTR/411530623090/ICIC/samakshgupta04@/U',
       'MPAY/UPI/TRTR/411530876035/HDFC/9799984089@payt/U',
       'MPAY/UPI/TRTR/411683064175/BKID/vivsri14@oksbi/UP',
       'MPAY/UPI/TRTR/411647932204/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/411652589196/YESB/q718791985@ybl/UP',
       'MPAY/UPI/TRTR/411659898933/ICIC/bharatpe.904222/P',
       'MPAY/UPI/TRTR/411667764903/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/411667843631/YESB/paytmqrjdffgeod/U',
       'MPAY/UPI/TRTR/411605358273/YESB/paytmqrjdffgeod/U',
       'MPAY/UPI/TRTR/411617270064/YESB/q694042848@ybl/UP',
       'MPAY/UPI/TRTR/411718000022/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/411718286716/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/411734145192/ICIC/bharatpe.904222/P',
       'MPAY/UPI/TRTR/411737656228/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/411737810763/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/411743716290/PUNB/zoro.sanji12op@/U',
       'MPAY/UPI/TRTR/411759066530/YESB/q484330578@ybl/UP',
       'MPAY/UPI/TRTR/411883326532/UTIB/goog-payment@ok/U',
       'MPAY/UPI/TRTR/411881315696/HDFC/9460425145@payt/U',
       'MPAY/UPI/TRTR/411806950530/BKID/dhanrajcool09-2/U',
       'MPAY/UPI/TRTR/411899448260/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/411986485315/YESB/paytmqrhrbud314/U',
       'MPAY/UPI/TRTR/411948604754/YESB/paytmqrhrbud314/U',
       'MPAY/UPI/TRTR/412053113960/SBIN/8765687603@ibl/UP',
       'MPAY/UPI/TRTR/412053122866/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/448612461298/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/412088711815/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/412095402419/HDFC/amanladha17@okh/U',
       'MPAY/UPI/TRTR/448741949081/BKID/dhanrajcool09-2/U',
       'MPAY/UPI/TRTR/412145247435/BKID/dhanrajcool09-2/U',
       'MPAY/UPI/TRTR/448741052851/BKID/dhanrajcool09-2/U',
       'MPAY/UPI/TRTR/412129607011/SBIN/harshdepura085@/U',
       'MPAY/UPI/TRTR/448807655709/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/412243184785/BKID/dhanrajcool09-1/U',
       'MPAY/UPI/TRTR/449109386841/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/412595450884/YESB/q063883629@ybl/UP',
       'MPAY/UPI/TRTR/412535753009/BKID/dhanrajcool09-1/U',
       'MPAY/UPI/TRTR/412637358464/BARB/8529883096@payt/U',
       'MPAY/UPI/TRTR/449309361339/BARB/7976313402@payt/N',
       'MPAY/UPI/TRTR/413177923695/BKID/8542893975@ybl/UP',
       'MPAY/UPI/TRTR/413281353855/YESB/paytmqr7xo8dtg8/U',
       'MPAY/UPI/TRTR/413281823028/YESB/q713949906@ybl/UP',
       'MPAY/UPI/TRTR/413248024706/YESB/q484330578@ybl/UP',
       'MPAY/UPI/TRTR/413258312630/HDFC/7665888892@ybl/Pa',
       'MPAY/UPI/TRTR/413250905380/HDFC/9887275693@ibl/UP',
       'MPAY/UPI/TRTR/413251580058/YESB/q711441675@ybl/UP',
       'MPAY/UPI/TRTR/413252859733/SBIN/ishangupta2209@/U',
       'MPAY/UPI/TRTR/413322622573/HDFC/yashraj120405@o/U',
       'MPAY/UPI/TRTR/413357187945/HDFC/amanladha17@okh/U',
       'UPI/TCC/413281754409/11-05-2024',
       'MPAY/UPI/TRTR/413397341756/BARB/9878458484546@a/U',
       'MPAY/UPI/TRTR/413357803201/YESB/paytmqrafbibvrz/U',
       'MPAY/UPI/TRTR/413405250494/UTIB/irctcecatering4/E',
       'MPAY/UPI/TRTR/413500616330/UTIB/zomatoorder1.gp/U',
       'MPAY/UPI/TRTR/413752289056/BKID/8542893975@ybl/UP',
       'NEFT/CITI0100000/PAYPAL PAYMENTS PL INR FBO CUR AC',
       'MPAY/UPI/TRTR/415993098467/UCBA/meenasinha1763@/U',
       'MPAY/UPI/TRTR/416141805079/YESB/paytmqr28100505/U',
       'MPAY/UPI/TRTR/416193486101/YESB/q855748223@ybl/UP',
       'MPAY/UPI/TRTR/416266770739/BKID/dhanrajcool09-1/U',
       'MPAY/UPI/TRTR/416206691678/UTIB/zomatoorder1.gp/U',
       'MPAY/UPI/TRTR/416502330736/BKID/dhanrajcool09-1/U',
       'MPAY/UPI/TRTR/417193529564/BKID/8542893975@ybl/Pa',
       'MPAY/UPI/TRTR/417190206030/UCBA/meenasinha1763@/U',
       'MPAY/UPI/TRTR/417162973292/YESB/paytmqr1a28ujdo/U',
       'MPAY/UPI/TRTR/417163763224/YESB/paytmqred0m9qku/U',
       '23950110026427:Int.Pd:26-03-2024 to 22-06-2024',
       'MPAY/UPI/TRTR/417690004596/BKID/dhanrajcool09-1/U',
       'Qtr_Min_Bal_Chrg',
       'MPAY/UPI/TRTR/419162826752/BKID/dhanrajcool09-1/U',
       'POS/PRCR/419112977654/09-07-2024 18:01:10/NPO',
       'MPAY/UPI/TRTR/419256145449/UTIB/zomatoorder1.gp/U',
       'MPAY/UPI/TRTR/419286673182/YESB/q124497620@ybl/UP',
       '4047752395000147/092760/090724',
       'MPAY/UPI/TRTR/419214462353/BKID/dhanrajcool09-1/U',
       'MPAY/UPI/TRTR/419200325933/YESB/q224571366@ybl/UP',
       'MPAY/UPI/TRTR/420240393328/IOBA/9506032509144@p/N',
       'MPAY/UPI/TRTR/456901350312/ICIC/zomatoonlineord/P',
       'MPAY/UPI/TRTR/456901618765/ICIC/zomato4.payu@ic/U',
       'MPAY/UPI/TRTR/420441320492/UTIB/zomatoorder1.gp/U',
       'MPAY/UPI/TRTR/420483742169/utib/gpayonlineparef/U',
       'MPAY/UPI/LITE/TRTR/457022930807/UCBA/dhanraj.adit',
       'MPAY/UPI/TRTR/457105216198/HDFC/zomato1paytm@hd/Z',
       'MPAY/UPI/TRTR/420525220786/YESB/q923358102@ybl/UP',
       'CRTR/000000003770/27-07-2024 20:31:59/EFT',
       'MPAY/UPI/TRTR/420924400912/UTIB/gpay-1120770697/U',
       'MPAY/UPI/TRTR/420924434090/UTIB/gpay-1120770697/U',
       'MPAY/UPI/TRTR/457667281121/ICIC/zomato4.payu@ic/U',
       'MPAY/UPI/TRTR/421003409449/BKID/dhanrajcool09-1/U',
       'MPAY/UPI/TRTR/457626968747/HDFC/payzomato@hdfcb/N',
       'MPAY/UPI/TRTR/421296443781/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/421296537122/Adhoc Samarth /YESB/XX',
       'MPAY/UPI/TRTR/421254655485/SAURAB BAJPEI/BKID/XXX',
       'MPAY/UPI/TRTR/421373400310/ISHAAN SRIVAST/BARB/XX',
       'MPAY/UPI/TRTR/421558226931/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/458592569091/RITAM SHARMA/HDFC/XXX0',
       'MPAY/UPI/TRTR/421970738262/AASTHA CHAUDHA/BARB/XX',
       'MPAY/UPI/TRTR/422669242065/MEHUL BHARDWAJ/HDFC/XX',
       'MPAY/UPI/TRTR/422691602738/SHIVAM SHANDIL/HDFC/XX',
       'MPAY/UPI/TRTR/422736606117/AYUSHMAN SRAGH/ICIC/XX',
       'MPAY/UPI/TRTR/422737165179/DIVYANSH',
       'MPAY/UPI/TRTR/422712676889/DILIPSINGHSOMA/YESB/XX',
       'MPAY/UPI/TRTR/422763684027/AMAN LADHA/HDFC/XXX651',
       'MPAY/UPI/TRTR/422729800335/DELIGHT ENTERP/YESB/XX',
       'MPAY/UPI/TRTR/422832731441/ADITYA DIXIT/PUNB/XXX1',
       'MPAY/UPI/TRTR/422851840857/CHAIMAHALCAFE/YESB/XXX',
       'MPAY/UPI/TRTR/423317831000/Aditya',
       'MPAY/UPI/TRTR/423855409533/VISHANU MEHARA/YESB/XX',
       'MPAY/UPI/TRTR/424268121970/SHIVANSH RAI/BKID/XXX9',
       'MPAY/UPI/TRTR/424210069318/VINAYAK AGENCI/YESB/XX',
       'MPAY/UPI/TRTR/424273744925/DAABRI CAFE HO/YESB/XX',
       'MPAY/UPI/TRTR/424212542565/SHOBHIT',
       'MPAY/UPI/TRTR/424225035849/KESHAV RAJ JAI/PUNB/XX',
       'MPAY/UPI/TRTR/424225232767/KESHAV RAJ JAI/PUNB/XX',
       'MPAY/UPI/TRTR/424226964764/QUESS CORP LIM/YESB/XX',
       'MPAY/UPI/TRTR/424403302302/KESHAV RAJ JAI/PUNB/XX',
       'MPAY/UPI/TRTR/424403298776/KESHAV RAJ JAI/PUNB/XX',
       'MPAY/UPI/TRTR/462239453930/ADITYA OJHA/UBIN/XXX01',
       'MPAY/UPI/TRTR/425866688022/AASTHA CHAUDHA/BARB/XX',
       'MPAY/UPI/TRTR/425922493370/KESHAV RAJ JAI/PUNB/XX',
       'MPAY/UPI/TRTR/425922518915/JAGDISH S O LA/YESB/XX',
       'MPAY/UPI/TRTR/425953862301/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/426089753125/SHIVANSH RAI/BKID/XXX9',
       'MPAY/UPI/TRTR/426074763699/AMAN LADHA/HDFC/XXX651',
       'MPAY/UPI/TRTR/426089730210/Dalchand/YESB/XXX0051',
       'MPAY/UPI/TRTR/426078208644/JAGDISH S O LA/YESB/XX',
       'MPAY/UPI/TRTR/426083385256/QUESS CORP LIM/YESB/XX',
       'MPAY/UPI/TRTR/426088619691/AASTHA CHAUDHA/BARB/XX',
       'MPAY/UPI/TRTR/426088675971/AASTHA CHAUDHA/BARB/XX',
       'MPAY/UPI/TRTR/426115023755/Divij',
       'MPAY/UPI/TRTR/426271602832/HARSHIT GOYAL/BARB/XXX',
       'MPAY/UPI/TRTR/426257324108/STARDOMCAFEAND/YESB/XX',
       'MPAY/UPI/TRTR/426300104903/Divij',
       'MPAY/UPI/TRTR/426300110009/Divij',
       'MPAY/UPI/TRTR/462942270644/Divij',
       'MPAY/UPI/TRTR/426300111290/Divij',
       'MPAY/UPI/TRTR/426300070195/Divij',
       'MPAY/UPI/TRTR/426300112130/Divij',
       'MPAY/UPI/TRTR/462977575093/Divij',
       'MPAY/UPI/TRTR/426367417407/HARSHIT GOYAL/BARB/XXX',
       'MPAY/UPI/TRTR/426300186106/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/426472031756/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/426415520927/ADITYA DHANRAJ/BKID/XX',
       'AMC ATMCRD-Aug24toJul25-0147',
       '23950110026427:Int.Pd:23-06-2024 to 27-09-2024',
       'MPAY/UPI/TRTR/427562407692/AASTHA CHAUDHA/BARB/XX',
       'MPAY/UPI/TRTR/427527239168/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/427567427904/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/464134578968/AYUSHMAN SRAGH/ICIC/XX',
       'MPAY/UPI/TRTR/427560561455/Harsh',
       'MPAY/UPI/TRTR/427567470711/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/427667830550/GHANAKSHREE FO/YESB/XX',
       'MPAY/UPI/TRTR/427605433683/AASTHA CHAUDHA/BARB/XX',
       'MPAY/UPI/TRTR/427668653228/Divij',
       'MPAY/UPI/TRTR/427956311029/SHIVANSH RAI/BKID/XXX9',
       'MPAY/UPI/TRTR/428099409912/MEHUL BHARDWAJ/HDFC/XX',
       'MPAY/UPI/TRTR/428203886371/DELIGHT ENTERP/YESB/XX',
       'MPAY/UPI/TRTR/428460226128/DINESHKUMARCHO/YESB/XX',
       'MPAY/UPI/TRTR/428458526061/Divij',
       'MPAY/UPI/TRTR/428656723194/KESHAV RAJ JAI/PUNB/XX',
       'MPAY/UPI/TRTR/428818570052/ADITYA DHANRAJ/BKID/XX',
       'MPAY/UPI/TRTR/432567142002/SHIVANSH RAI/BKID/XXX9',
       'MPAY/UPI/TRTR/429037695356/Dilip',

In [78]:
# df['UPI_ID'] = df['Description'].str.extract(r'/([^/]+)/[^/]*$')

import re

def extract_upi(description):
    parts = description.split('/')
    if len(parts) < 2:
        return None
    second_last = parts[-2]
    last = parts[-1]
    
    # Check if second last part contains any letter
    if re.search('[a-zA-Z]', second_last):
        return second_last
    else:
        return last

df['UPI_ID'] = df['Description'].apply(extract_upi)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 507 entries, 0 to 557
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         507 non-null    datetime64[ns]
 1   Description  507 non-null    object
 2   DR           507 non-null    float64
 3   CR           507 non-null    float64
 4   Balance      507 non-null    float64
 5   UPI_ID       491 non-null    object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 27.7+ KB

In [80]:
df.head(20)

,Date,Description,DR,CR,Balance,UPI_ID
0,2024-04-05,MPAY/UPI/TRTR/446270170883/PUNB/zoro.sanji12op@/U,1.0,0.00,5962.21,zoro.sanji12op@
1,2024-04-05,MPAY/UPI/TRTR/446250969435/PUNB/zoro.sanji12op@/U,1000.0,0.00,4962.21,zoro.sanji12op@
2,2024-04-05,MPAY/UPI/TRTR/446230188636/PUNB/zoro.sanji12op@/U,1000.0,0.00,3962.21,zoro.sanji12op@
3,2024-04-05,MPAY/UPI/TRTR/409630270905/PUNB/zoro.sanji12op@/U,1000.0,0.00,2962.21,zoro.sanji12op@
4,2024-04-05,MPAY/UPI/TRTR/409635470646/PUNB/zoro.sanji12op@/U,666.0,0.00,2296.21,zoro.sanji12op@
5,2024-04-05,MPAY/UPI/TRTR/409669714739/PUNB/zoro.sanji12op@/U,2100.0,0.00,196.21,zoro.sanji12op@
6,2024-04-05,MPAY/UPI/TRTR/409670001882/BKID/vivsri14@oksbi/UP,0.0,500.00,696.21,vivsri14@oksbi
7,2024-04-05,MPAY/UPI/TRTR/409695927732/PUNB/zoro.sanji12op@/U,430.0,0.00,266.21,zoro.sanji12op@
8,2024-04-05,MPAY/UPI/TRTR/409677407577/PUNB/zoro.sanji12op@/U,100.0,0.00,166.21,zoro.sanji12op@
9,2024-04-06,MPAY/UPI/TRTR/409770555654/BKID/dhanrajaditya20/U,0.0,120.00,286.21,dhanrajaditya20
10,2024-04-06,MPAY/UPI/TRTR/409764636591/PUNB/zoro.sanji12op@/U,166.0,0.00,120.21,zoro.sanji12op@
11,2024-04-06,MPAY/UPI/TRTR/446316854534/HDFC/9799984089@payt/S,0.0,176.47,296.68,9799984089@payt
12,2024-04-06,MPAY/UPI/TRTR/446316854907/HDFC/9372468989@payt/S,0.0,176.47,473.15,9372468989@payt
13,2024-04-06,MPAY/UPI/TRTR/446316932728/SBIN/9352311905@payt/S,0.0,176.47,649.62,9352311905@payt
14,2024-04-06,MPAY/UPI/TRTR/446316958914/ICIC/9871340076@payt/S,0.0,176.47,826.09,9871340076@payt
15,2024-04-06,MPAY/UPI/TRTR/446316976433/SBIN/8765687603@payt/S,0.0,176.47,1002.56,8765687603@payt
16,2024-04-06,MPAY/UPI/TRTR/446317061208/BARB/7976313402@payt/N,0.0,176.75,1179.31,7976313402@payt
17,2024-04-06,MPAY/UPI/TRTR/446317076233/ICIC/6205844365181@p/S,0.0,176.47,1355.78,6205844365181@p
18,2024-04-06,MPAY/UPI/TRTR/446317089291/HDFC/9460425145@payt/S,0.0,176.47,1532.25,9460425145@payt
19,2024-04-06,MPAY/UPI/TRTR/446317092566/BARB/devrajgurjar484/S,1000.0,0.00,532.25,devrajgurjar484

In [81]:
df['UPI_ID'] = df['UPI_ID'].fillna(df['Description'])

In [82]:
df["UPI_ID"].unique()

array(['zoro.sanji12op@', 'vivsri14@oksbi', 'dhanrajaditya20',
       '9799984089@payt', '9372468989@payt', '9352311905@payt',
       '9871340076@payt', '8765687603@payt', '7976313402@payt',
       '6205844365181@p', '9460425145@payt', 'devrajgurjar484',
       '9352801321@payt', '7850885993@payt', 'djrockingnitin2',
       'amanladha17@okh', '7879217732352@p', 'ishangupta2209@',
       'meenasinha1763@', 'paytmqr17draihy', '8542893975@ybl',
       'paytmqr28100505', 'bharatpe.904222', 'kavyarajkhangar',
       'paytmqrwoi28ons', 'adityaojha1310-', 'q854198776@ybl',
       'q687518131@ybl', 'samakshgupta04@', 'paytmqr78iydr94',
       '8385902762@ibl', '9079922589@ybl', 'q809149785@ybl',
       'yashraj120405@o', 'q821432282@ybl', 'q696560501@ybl',
       'paytmqr1vr7d1wl', 'yashraj120405-1', 'q515570328@ybl',
       'q711441675@ybl', 'q484330578@ybl', 'ritamsharma2005',
       'ayushmansinghra', '8765687603@axl', 'q774685603@ybl',
       'q991713027@ybl', 'q525341851@ybl', 'optimaevents@sb',
       'bharatparts@sbi', 'bhatconstructio', '6398089430@payt',
       '7665888892@ybl', 'q818717883@ybl', 'paytmqr1bngq50t',
       'paytmqr1ocdzfmh', '9044142661@ybl', 'q653432515@ybl',
       'q431995098@ybl', 'paytmqr7a3z1nhl', 'paytmqrhrbud314',
       'paytmqrzelvz00z', 'q813942509@ybl', 'q718791985@ybl',
       'paytmqrjdffgeod', 'q694042848@ybl', 'goog-payment@ok',
       'dhanrajcool09-2', '8765687603@ibl', 'harshdepura085@',
       'dhanrajcool09-1', 'q063883629@ybl', '8529883096@payt',
       'paytmqr7xo8dtg8', 'q713949906@ybl', '9887275693@ibl',
       '11-05-2024', '9878458484546@a', 'paytmqrafbibvrz',
       'irctcecatering4', 'zomatoorder1.gp', 'CITI0100000',
       'q855748223@ybl', 'paytmqr1a28ujdo', 'paytmqred0m9qku',
       '23950110026427:Int.Pd:26-03-2024 to 22-06-2024',
       'Qtr_Min_Bal_Chrg', 'NPO', 'q124497620@ybl', '090724',
       'q224571366@ybl', '9506032509144@p', 'zomatoonlineord',
       'zomato4.payu@ic', 'gpayonlineparef', 'UCBA', 'zomato1paytm@hd',
       'q923358102@ybl', 'EFT', 'gpay-1120770697', 'payzomato@hdfcb',
       'BKID', 'YESB', 'BARB', 'HDFC', 'ICIC', 'DIVYANSH', 'PUNB',
       'Aditya', 'SHOBHIT', 'UBIN', 'Divij',
       'AMC ATMCRD-Aug24toJul25-0147',
       '23950110026427:Int.Pd:23-06-2024 to 27-09-2024', 'Harsh', 'Dilip',
       'IBKL', 'Ishan', 'RAMU', 'Shivkumar', 'FDRL', 'MEENA SINHA',
       'MUKESH', 'UNBA', 'SBIN',
       '23950110026427:Int.Pd:28-09-2024 to 27-12-2024', 'NESF', 'HARDIK'],
      dtype=object)

In [83]:
df.drop(["Description"], axis = 1, inplace = True)

In [84]:
df.head()

        Date      DR   CR  Balance           UPI_ID
0 2024-04-05     1.0  0.0  5962.21  zoro.sanji12op@
1 2024-04-05  1000.0  0.0  4962.21  zoro.sanji12op@
2 2024-04-05  1000.0  0.0  3962.21  zoro.sanji12op@
3 2024-04-05  1000.0  0.0  2962.21  zoro.sanji12op@
4 2024-04-05   666.0  0.0  2296.21  zoro.sanji12op@

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 507 entries, 0 to 557
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     507 non-null    datetime64[ns]
 1   DR       507 non-null    float64
 2   CR       507 non-null    float64
 3   Balance  507 non-null    float64
 4   UPI_ID   507 non-null    object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 23.8+ KB

In [86]:
df.to_csv('final.csv')